.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
images/demo.gif
**/*.mp4
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
